  <div class="row"><div class="navbar navbar-default col-md-offset-1 col-md-10" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse1">
                <ul class="nav navbar-nav">
                <li ><a ui-sref="Profile">Profile</a></li>
            <li><a ui-sref="MyRequests">MyRequests</a></li>
                <li><a ui-sref="MyToDo">My To Do's</a></li>
                <li><a ui-sref="MyLifeEvents">My Life Events</a></li>
                <li><a ui-sref="MyRewards">My Rewards</a></li>
                <li><a ui-sref="Nominations">Nominations</a></li>
            </ul>

            </div>
        </div>
    </div>
    <div ui-view="" class="col-md-offset-2 col-md-8">
</div>
</div>
